<a
  class="list-group-item clearfix"
  (click)="onSelected()"
  [style.background-color]="item?.purchased ? 'lightgray' : 'transparent'"
>
  <span class="pull-left">
    <input
      type="checkbox"
      [checked]="item?.purchased"
      (change)="onPurchasedChange($event); $event.stopPropagation()"
    />
    {{ item?.name }} - {{ item?.price | currency }}
  </span>
  <span class="pull-right">
    <button class="btn btn-sm btn-info">Edit</button>
    <button class="btn btn-sm btn-success">Details</button>
    <button class="btn btn-sm btn-danger">Delete</button>
  </span>
</a>
